<html>
    <head>
        <title>instapipe.net</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer data-domain="instapipe.net" src="https://plausible.io/js/plausible.js"></script>
    </head>
<body>
    <div id='content'>
        <h1 style="text-align: center;">instapipe.net</h1>
        <div id="story-available" class="story-not-available">
            <img src="https://krausefx.com/assets/FelixKrauseCropped.jpg" id="storyProfilePicture" onclick="showStories()" />
        </div>
        <div>
            <h2 style="text-align: center;" id="username"><a target="_blank" href="https://instagram.com/KrauseFx">@KrauseFx</a></h2>
        </div>
        <div id="storyViewer">
            <div id="storyViewerDimmedBackground" onclick="dismissStories()"></div>
            <div id="storyContent">
                <div id="storyHeader">
                    <img id="storyHeaderProfilePicture" onclick="window.open('https://instagram.com/krausefx', '_blank')" />
                    <p id="storyUserlink"><a target="_blank" href="https://instagram.com/krausefx" target="_blank">KrauseFx</a></p>
                    <p id="storyTimestamp"></p>
                    <p id="poweredByInstapipe"><a target="_blank" href="https://instapipe.net" target="_blank">instapipe.net</a></p>
                </div>
                <div id="storyProgressBar"></div>
                <div id="storyBackButton" class="storyButton" onclick="userDidClickPreviousStory()">
                    &#x3C; </div>
                <div id="storyNextButton" class="storyButton" onclick="userDidClickNextStory()">
                    &#x3E;
                </div>

                <video autoplay playsinline muted id="storyVideoViewer"></video>
                <div id="storyPhotoViewer" onclick="userDidClickNextStory()">
                </div>
            </div>
            <img src="" id="fakeContentToPreloadImages" />
        </div>
        <%= erb :"partials/_start_using_instapipe.html", layout: false %>
        
        <%# Render the grid %>
        <div id="grid">
            <% @posts.each do |post| %>
                <div class="post">
                    <a target="_blank" href="<%= post[:permalink] %>" target="_blank">
                        <% if post[:media].count > 1 %>
                            <div class="multiple-media-items-node">
                                <%= erb :"partials/svgs/album.svg", layout: false %>
                            </div>
                        <% end %>
                        <img src="<%= post[:thumbnail_url] %>" />
                    </a>
                </div>
            <% end %>
        </div>
        <script type="text/javascript">
            <%= erb :"partials/_instapipe.js", layout: false %>
        </script>
        <style type='text/css'>
            <%= erb :"partials/_instapipe.css", layout: false %>
            <%= erb :"partials/_landing_page.css", layout: false %>
        </style>

        <%= erb :"partials/_start_using_instapipe.html", layout: false %>

        <p><br /></p>
        <h2 id="background">Background</h2>
        <p>You want to share experiences as they are happening in your life. Instagram Stories is a great way to do so, thanks to cross-posting to Facebook, Messenger and Instagram itself, allowing most people to view your stories.</p>
        <p>However just like Snapchat, the platforms try to lock you in, with the content <strong>you</strong> create. Many of my family members and close friends don't use FB/IG daily, but still wanted to stay up to date on what I'm up to.</p>
        <h2 id="solution">Solution</h2>
        <p>
            <a  target="_blank" href="https://twitter.com/KrauseFx"><img src="https://img.shields.io/badge/author-@KrauseFx-blue.svg?style=flat" alt="" /></a>
        </p>
        <p>A simple web service that automatically downloads and publishes your stories on various platforms. It's open source and can be self hosted, check it out <a target="_blank" href="https://github.com/KrauseFx/instapipe">on GitHub</a>.</p>
        <h3 id="embed-into-websites">Embed into websites</h3>
        <p>
            <a target="_blank" href="https://howisfelix.today">
                <img src="assets/howisfelixScreenshot.jpg" />
            </a>
        </p>
        <p>Showing what you're up to on the websites you operate is an easy way to make your online presence more personal.</p>
        <ul>
            <li><a target="_blank" href="https://howisfelix.today">On howisfelix.today</a></li>
            <li><a target="_blank" href="https://krausefx.com">Integrated into krausefx.com</a> (desktop only)</li>
            <li><a target="_blank" href="https://instapipe.net">instapipe.net</a></li>
        </ul>
        <p><strong>Features</strong></p>
        <ul>
            <li>Access your Instagram Stories and Posts</li>
            <li>Design similar to instagram.com web</li>
            <li>Arrow keys to go back and forth between stories</li>
            <li>Support for photos and videos</li>
            <li>Support for desktop and mobile browsers</li>
            <li>Dismiss stories using ESC key, and clicking the dimmed area</li>
            <li>Pre-loading of the next story for instant rendering</li>
            <li>Basic features like rendering of the progress bar, the relative time stamp, as well as linking to your profile</li>
            <li>Zero dependencies, plain JavaScript, CSS and HTML in a single file</li>
        </ul>
        <h3 id="provide-a-json-api">Provide a JSON API</h3>
        <p>Of course it also provides you with a JSON API, that can be used to integrate your Instagram stories into any app or service. The API includes all relevant metadata, including the caption (any tags) as a string.</p>
        <p><img src="assets/apiScreenshot.jpg" /></p>
        <p>Make sure to manually copy &amp; paste this in a new tab to avoid the cross-site scripting protection</p>
        <h3 id="telegram-group">Telegram group</h3>
        <p>Many of my friends don't want to check Instagram every day, but still want to stay up to date with what I'm up to. Since they all use Telegram already, I set up a channel that automatically shows the stories I post.</p>
        <p>
            <img src="assets/telegramScreenshot.jpg" />
        </p>
        <p>A Telegram group containing all my latest stories. In particular nice to get an overview over all your most recent stories.</p>
        <h2 id="how-it-works">How it works</h2>
        <p>Instapipe is a simple server, that periodically fetches your most recent Instagram stories. As soon as a new story is available, it will</p>
        <ul>
            <li>Download the highest resolution photo/video and store it on your personal Google Cloud Bucket</li>
            <li>Store the associated metadata in a database you own, the data includes</li>
            <li>24 hours signed URL to the full-resolution photo/video of your Google Cloud Storage</li>
            <li>The full path of the resource referencing your Google Cloud bucket</li>
            <li>The user ID who published the asset</li>
            <li>The height and width of the photo/video</li>
            <li>The exact time stamp of publishing</li>
            <li>An <code>is_video</code> flag</li>
            <li>The location (if a location tag is attached)
                <ul>
                    <li>Location Name (e.g. <code>Das Gym</code>)</li>
                    <li><code>lat</code> and <code>lng</code> coordinates</li>
                </ul>
            </li>
            <li>Post the new story into a Telegram group</li>
        </ul>
        <p><img src="assets/databaseScreenshot.jpg" /></p>
        <p>At the same time, some very basic metrics will be stored:</p>
        <ul>
            <li>Per day, how many people watched at least one story (not unique users, if a user watches at least one twice, it will be counted twice)</li>
            <li>Per day, how many times were the stories pre-fetched (meaning the instapipe code was loaded)</li>
        </ul>
        <p>The above metrics should only give you a rough idea on how many people have watched stories, no personal data is stored from the users, I don't want this to be the reason to add a cookie warning to a website.</p>
        <h2 id="can-i-use-it">Can I use it?</h2>
        <p>For now, you'll have to be an engineer to be able to use it, as instapipe.net is completely self-hosted. Check out the <a target="_blank" href="https://github.com/krausefx/instapipe">GitHub repo</a> to access instructions and the source code.</p>
        <p>If you're not an engineer, and are interested in using this on your website, via a Telegram channel or another platform, please drop me a message on <a target="_blank" href="https://twitter.com/KrauseFx">Twitter@KrauseFx</a> or <a target="_blank" href="https://instagram.com/KrauseFx">Instagram@KrauseFx</a>,
            so I can see if demand is there to put in the extra work to provide instapipe as a service.</p>
        <h2 id="potential">Potential</h2>
        <p>This is just the beginning, highly optimized for what I needed the bot for. There are so many other interesting things that could be built on top.</p>
        <h3 id="plug--play-integrations">Plug &amp; Play integrations</h3>
        <p>Right now Telegram and the API are hard-coded. However ideally you could write plugins or integrations to pipe the data over to any other platform. Maybe even an integration with <a target="_blank" href="https://ifttt.com">IFTTT</a> would make sense (<a target="_blank" href="https://github.com/KrauseFx/instapipe/issues/13">#13</a>).</p>
        <h3 id="rendering-of-a-mapglobe">Rendering of a map/globe</h3>
        <p>A map or a 3D globe, moving around, as the stories are rendered or maybe even a map view, with the stories on the map, onclick renders the story (<a target="_blank" href="https://github.com/KrauseFx/instapipe/issues/12">#12</a>).</p>
        <h3 id="embed-pinned-stories">Embed pinned stories</h3>
        <p>Integrating your pinned stories onto your website would be a cool feature, however I didn't need it for myself (<a target="_blank" href="https://github.com/KrauseFx/instapipe/issues/3">#3</a>).</p>
        <p><br /></p>
    </div>
</body>
</html>